In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Ushuaia,-54.8000,-68.3000,46.06,49,75,26.46,AR,2022-01-09 16:55:59
1,1,Meulaboh,4.1363,96.1285,76.91,87,100,3.15,ID,2022-01-09 16:58:57
2,2,Rikitea,-23.1203,-134.9692,77.99,76,100,19.84,PF,2022-01-09 16:58:57
3,3,Abu Samrah,35.3029,37.1841,55.24,59,10,2.93,SY,2022-01-09 16:58:58
4,4,Cockburn Town,21.4612,-71.1419,82.36,74,40,16.11,TC,2022-01-09 16:58:58

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Meulaboh,4.1363,96.1285,76.91,87,100,3.15,ID,2022-01-09 16:58:57
2,2,Rikitea,-23.1203,-134.9692,77.99,76,100,19.84,PF,2022-01-09 16:58:57
4,4,Cockburn Town,21.4612,-71.1419,82.36,74,40,16.11,TC,2022-01-09 16:58:58
6,6,Lujan,-34.5703,-59.1050,86.04,20,10,8.08,AR,2022-01-09 16:58:58
7,7,Vaini,-21.2000,-175.2000,75.36,94,100,4.61,TO,2022-01-09 16:58:59
8,8,Hermanus,-34.4187,19.2345,82.90,81,99,10.56,ZA,2022-01-09 16:56:41
9,9,Port Blair,11.6667,92.7500,79.21,71,34,8.84,IN,2022-01-09 16:58:59
13,13,Muli,2.9167,73.5667,81.91,74,92,10.56,MV,2022-01-09 16:59:00
15,15,Caravelas,-17.7125,-39.2481,81.00,85,100,8.10,BR,2022-01-09 16:59:01
23,23,Arica,-18.4750,-70.3042,81.95,60,0,11.50,CL,2022-01-09 16:59:04

In [22]:
preferred_cities_df.count()

City_ID       170
City          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
Country       168
Date          170
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1        Meulaboh      ID     76.91   4.1363   96.1285
2         Rikitea      PF     77.99 -23.1203 -134.9692
4   Cockburn Town      TC     82.36  21.4612  -71.1419
6           Lujan      AR     86.04 -34.5703  -59.1050
7           Vaini      TO     75.36 -21.2000 -175.2000
8        Hermanus      ZA     82.90 -34.4187   19.2345
9      Port Blair      IN     79.21  11.6667   92.7500
13           Muli      MV     81.91   2.9167   73.5667
15      Caravelas      BR     81.00 -17.7125  -39.2481
23          Arica      CL     81.95 -18.4750  -70.3042

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Meulaboh,ID,76.91,4.1363,96.1285,Kost Pria
2,Rikitea,PF,77.99,-23.1203,-134.9692,People ThankYou
4,Cockburn Town,TC,82.36,21.4612,-71.1419,Osprey Beach Hotel
6,Lujan,AR,86.04,-34.5703,-59.1050,Hotel Biarritz
7,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
8,Hermanus,ZA,82.90,-34.4187,19.2345,Misty Waves Boutique Hotel
9,Port Blair,IN,79.21,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
13,Muli,MV,81.91,2.9167,73.5667,Medhufushi Island Resort
15,Caravelas,BR,81.00,-17.7125,-39.2481,Pousada dos Navegantes
23,Arica,CL,81.95,-18.4750,-70.3042,Hostal Jardin Del Sol

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))