## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Andros Town,BS,2022-01-13 02:47:59,24.7000,-77.7667,69.76,75,85,12.97,overcast clouds
1,1,Clyde River,CA,2022-01-13 02:48:00,70.4692,-68.5914,-30.77,68,0,2.30,clear sky
2,2,Albany,US,2022-01-13 02:48:00,42.6001,-73.9662,32.61,67,100,2.82,overcast clouds
3,3,Kodiak,US,2022-01-13 02:48:00,57.7900,-152.4072,29.71,86,0,0.00,clear sky
4,4,Hermanus,ZA,2022-01-13 02:48:01,-34.4187,19.2345,68.90,82,100,17.00,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
8,8,Lakatoro,VU,2022-01-13 02:48:02,-16.0999,167.4164,86.77,59,4,6.80,clear sky
14,14,Avarua,CK,2022-01-13 02:48:03,-21.2078,-159.7750,82.45,74,75,13.80,broken clouds
15,15,Porto Novo,BJ,2022-01-13 02:48:04,6.4965,2.6036,84.02,85,84,6.33,light rain
27,27,Sandakan,MY,2022-01-13 02:48:07,5.8402,118.1179,83.88,74,40,10.00,scattered clouds
28,28,Bengkulu,ID,2022-01-13 02:48:07,-3.8004,102.2655,83.32,66,30,2.95,scattered clouds
36,36,Miri,MY,2022-01-13 02:45:09,4.4148,114.0089,82.54,83,40,12.66,scattered clouds
37,37,Hithadhoo,MV,2022-01-13 02:48:10,-0.6000,73.0833,82.47,73,100,7.78,overcast clouds
48,48,Voh,NC,2022-01-13 02:49:13,-20.9667,164.7000,83.97,71,47,12.82,scattered clouds
52,52,Butaritari,KI,2022-01-13 02:49:15,3.0707,172.7902,82.76,78,14,15.86,few clouds
65,65,Georgetown,MY,2022-01-13 02:49:18,5.4112,100.3354,84.13,58,20,1.01,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                77
City                   77
Country                77
Date                   77
Lat                    77
Lng                    77
Max Temp               77
Humidity               77
Cloudiness             77
Wind Speed             77
Weather Description    77
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
8,8,Lakatoro,VU,2022-01-13 02:48:02,-16.0999,167.4164,86.77,59,4,6.80,clear sky
14,14,Avarua,CK,2022-01-13 02:48:03,-21.2078,-159.7750,82.45,74,75,13.80,broken clouds
15,15,Porto Novo,BJ,2022-01-13 02:48:04,6.4965,2.6036,84.02,85,84,6.33,light rain
27,27,Sandakan,MY,2022-01-13 02:48:07,5.8402,118.1179,83.88,74,40,10.00,scattered clouds
28,28,Bengkulu,ID,2022-01-13 02:48:07,-3.8004,102.2655,83.32,66,30,2.95,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
628,628,Daru,PG,2022-01-13 03:04:26,-9.0763,143.2092,84.40,74,96,3.89,overcast clouds
645,645,Noumea,NC,2022-01-13 03:03:03,-22.2763,166.4572,82.00,99,54,16.93,broken clouds
647,647,Lahaina,US,2022-01-13 03:04:31,20.8783,-156.6825,80.35,92,5,5.17,clear sky
656,656,Bitung,ID,2022-01-13 03:05:34,1.4451,125.1824,88.65,68,99,11.23,overcast clouds
659,659,Buala,SB,2022-01-13 03:05:35,-8.1450,159.5921,83.03,83,100,12.06,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
8,Lakatoro,VU,86.77,clear sky,-16.0999,167.4164,
14,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
15,Porto Novo,BJ,84.02,light rain,6.4965,2.6036,
27,Sandakan,MY,83.88,scattered clouds,5.8402,118.1179,
28,Bengkulu,ID,83.32,scattered clouds,-3.8004,102.2655,
36,Miri,MY,82.54,scattered clouds,4.4148,114.0089,
37,Hithadhoo,MV,82.47,overcast clouds,-0.6000,73.0833,
48,Voh,NC,83.97,scattered clouds,-20.9667,164.7000,
52,Butaritari,KI,82.76,few clouds,3.0707,172.7902,
65,Georgetown,MY,84.13,few clouds,5.4112,100.3354,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
8,Lakatoro,VU,86.77,clear sky,-16.0999,167.4164,Lakatoro Palm Lodge
14,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,Paradise Inn
15,Porto Novo,BJ,84.02,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
27,Sandakan,MY,83.88,scattered clouds,5.8402,118.1179,Hotel Sandakan
28,Bengkulu,ID,83.32,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
36,Miri,MY,82.54,scattered clouds,4.4148,114.0089,"Mega Hotel, Miri"
37,Hithadhoo,MV,82.47,overcast clouds,-0.6000,73.0833,Scoop Guest House
48,Voh,NC,83.97,scattered clouds,-20.9667,164.7000,Le gîte du Koniambo
52,Butaritari,KI,82.76,few clouds,3.0707,172.7902,Isles Sunset Lodge
65,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df[hotel_df["Hotel Name"] != '']

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))